/* This file is for your main application css. */

@import "bootstrap";


h1 { text-align: center; }

.tile {
   height: 125px;
   width: 125px;
   padding: 20px;
   border: 5px solid gray;  
   text-align: center;
   
}

table.main {
   margin-left: auto;
   margin-right: auto;
}

.demo {
  text-align: center;

}



